#base style
BasedOnStyle: 'WebKit'

#Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

#Return
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: 'Attach'
#BreakBeforeBraces: Custom
#BraceWrapping:
#    AfterClass: false

AllowShortFunctionsOnASingleLine: 'Empty'
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

#Indent
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All
IndentCaseLabels: true

#Space
SpaceAfterTemplateKeyword: false

#Other
Language: Cpp

